*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather {
  width: 600px;
  max-width: calc(100% - 50px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  padding: 20px;
  color: #fff;
  margin-bottom: 100px;
}
.weather h1 {
  font-weight: bold;
  font-size: 2.2em;
}
.weather h3 {
  font-weight: bold;
  font-size: 1em;
}
#city-input {
  border: none;
  padding: 5px 20px;
  border-bottom: 1px solid #fff;
  margin-right: 30px;
  background: transparent;
  color: #fff;
}
#weather-search {
  margin-top: 30px;
  transition: 200ms;
}
#weather-search button {
  padding: 5px 20px;
  border: none;
  margin-top: 10px;
  background-color: #02d1a5;
  font-size: 0.9em;
  font-weight: 800;
  color: #ccc;
  transition: 200ms;
}
#weather-search button:hover {
  color: #fff;
}
#city-input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: #fff;
}
#temperature {
  margin-top: 30px;
}
